body{
    margin: 15px;
    padding: 0px;
}

.header{
    padding:15px 30px;
    border: 1px solid black;
    background-color: rgb(43, 226, 186);
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}

.loading{
    position: absolute;
    left:45%;
    top:45%;
    display: none;
}

.loading img{
    width: 150px;
    height: 150px;
}

.empbtn{
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 45%;
    background-color: rgb(18, 61, 202);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.container1{
    margin: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

ul{
    border: 1px solid;
    padding-left: 0px;
    width: 330px;
    overflow: hidden;
}

li{
    list-style: none;
    border: 1px dotted;
    padding: 10px 30px;
    overflow: hidden;
    margin: 10px;
    background-color: lightgray;
    margin-left: 10px !important;
}

li:first-child {
    text-align: center;
    align-items: center;
    background-color: white !important;
}

.studImg{
    height: 150px;
    width: 150px;
    border: 1px dotted;

}