.loginBlock {
    border: 1px solid;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 30%;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    list-style: none;
}
.subHeading {
    text-align: center;
    text-decoration: underline;
    color: green;
}

#loginBlock {
    border: 1px solid;
    width: 400px;
    height: 450px;
    position: absolute;
    top: 10%;
    left: 35%;
    background: #fff;
}

.profilePic {
    margin: 5px auto;
    border: 1px solid;
    border-radius: 50% 50%;
    height: 150px;
    width: 150px;
}

.link {
    color: blue;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
}
.link:hover {
    text-decoration: underline;

}

#loginBlock li {
    margin: 10px;
    padding: 10px;
    background: #ccc;
}

#errMsg {
    color: red;
}