<div  id="forgotPwd">
    <ul>
        <li>
            Enter user id <input type="text" id="uid"> 
        </li>
        <li>
            Account Password <input type="Password" id="password">
        </li>
        <li>
            ReEnter password <input type="password" id="rpwd">
        </li>
        <li>
            Mail id <input type="text" id="mailId">
        </li>
        <li>
            <input type="button" value="Register" onclick="registerDetails()">
            <span class="link gotoLogin" onclick="loadTemplate('login');">Go To Login Page</span>
        </li>
    </ul>
</div>